.page-header h1 {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.toolbar {
    margin-bottom: 2rem;
}

.games .game {
    margin-bottom: 2rem;
    min-width: 14rem;

    img {
        max-height: 14rem;
        object-fit: cover;
        object-position: center;
    }

    .meta {
        font-size: 0.85rem;
    }

    .badge {
        margin-right: 0.5rem;
        padding: 5px;
    }
}

footer {
    margin-bottom: 2rem;
}